.section-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 1024px;
  margin: auto;

  .wrapper {
    display: flex;
    width: 1024px;
    height: 700px;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;

    .control-panel {
      margin-right: 5px;
      margin-left: 5px;
    }

    .container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;

      .container-map {
        height: 100%;
        width: 100%;
      }
    }
  }
}
