.section-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .title-panel {
    font-weight: 700;
    font-size: 30px;
  }

  .control-panel {
    display: flex;
    gap: 20px;
    flex-direction: column;

    button {
      width: 100px;
      height: 40px;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.5s;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .isActive {
      background-color: rgb(127, 208, 233);
      color: #ffffff;
    }

    .unActive {
      background: rgb(230, 229, 229);
      color: #000000;
    }
  }
}
